style
    include ../style/card.css

<div>
    <article class="card" data-card="economy">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Экономика</span>
                    <div class="cLw-msg">
                        <!--<div class="text-box">
                            <span>Ничего :)</span>
                        </div>
                        <div class="text-box">
                            <span>Ответы на вопросы</span>
                        </div>
                        <div class="text-box">
                            <span>Дописать конспект</span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#E7B01E"/><rect x="24.571" y="19.714" width="3.429" height="13.714" rx="1.714" fill="#FFC528"/><rect x="29.714" y="12" width="3.429" height="21.429" rx="1.714" fill="#FFC528"/><rect x="22" y="38.571" width="3.429" height="24" rx="1.714" transform="rotate(-90 22 38.571)" fill="#FFC528"/><rect x="34.857" y="23.143" width="3.429" height="10.286" rx="1.714" fill="#FFC528"/><rect x="40" y="15.429" width="3.429" height="18" rx="1.714" fill="#FFC528"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <article class="card" data-card="managementTechnologies">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Технологии менеджмента</span>
                    <div class="cLw-msg">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#15B358"/><path d="M29.453 25.804a5.402 5.402 0 1 0 0-10.804 5.402 5.402 0 0 0 0 10.804zm0-8.103a2.701 2.701 0 1 1 0 5.402 2.701 2.701 0 0 1 0-5.402zM40.258 28.505a4.052 4.052 0 1 0 0-8.105 4.052 4.052 0 0 0 0 8.105zm0-5.402a1.35 1.35 0 1 1 0 2.701 1.35 1.35 0 0 1 0-2.701zM40.258 29.856c-1.497.001-2.95.5-4.133 1.418A9.454 9.454 0 0 0 20 37.959a1.35 1.35 0 0 0 2.701 0 6.752 6.752 0 1 1 13.505 0 1.35 1.35 0 0 0 2.701 0 9.32 9.32 0 0 0-1.161-4.525 4.052 4.052 0 0 1 6.563 3.174 1.35 1.35 0 0 0 2.701 0 6.753 6.753 0 0 0-6.752-6.752z" fill="#2ECC71"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <article class="card" data-card="psychology">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Общая и соцпсихология</span>
                    <div class="cLw-msg">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#3E81AE"/><path d="M48.818 37.14c-.648 1.831-3.702 3.097-5.182 3.614a1.055 1.055 0 0 1-1.262-.484c-.804-1.392-2.34-4.415-1.69-6.247a2.27 2.27 0 0 1 1.962-1.641c.301-.03.605.003.894.093a2.406 2.406 0 0 1 1.208 3.107 2.272 2.272 0 0 1 1.962-1.642c.301-.029.605.002.894.093a2.41 2.41 0 0 1 1.214 3.108zm-10.789 1.935c-2.543.782-5.274.7-7.766-.232a12.079 12.079 0 0 1-6.018-4.924 12.107 12.107 0 0 1 1.426-14.667 12.059 12.059 0 0 1 14.518-2.397 12.085 12.085 0 0 1 5.304 5.686 12.11 12.11 0 0 1 .747 7.747 1.211 1.211 0 0 0 .9 1.454 1.206 1.206 0 0 0 1.452-.902 14.533 14.533 0 0 0-2.242-11.663 14.497 14.497 0 0 0-10.187-6.08 14.469 14.469 0 0 0-11.309 3.576A14.51 14.51 0 0 0 20 27.51a14.602 14.602 0 0 0 5.903 11.632 14.55 14.55 0 0 0 12.834 2.245 1.208 1.208 0 0 0 .801-1.51 1.21 1.21 0 0 0-1.509-.803v.001zm3.705-13.984a2.42 2.42 0 0 0-2.415-2.418 2.413 2.413 0 0 0-2.415 2.418c0 1.21 1.08 1.21 2.415 1.21 1.334 0 2.415 0 2.415-1.21zm-8.452 0a1.21 1.21 0 0 0-1.208-1.209h-3.622a1.206 1.206 0 0 0-1.207 1.21 1.21 1.21 0 0 0 1.207 1.209h3.622a1.207 1.207 0 0 0 1.208-1.21zm4.83 5.442c0-.802-.319-1.57-.885-2.138a3.017 3.017 0 0 0-2.134-.885h-2.09a1.206 1.206 0 0 0-1.207 1.21 1.21 1.21 0 0 0 1.207 1.208h2.09a.603.603 0 0 1 0 1.21h-.604a1.206 1.206 0 0 0-1.207 1.209 1.21 1.21 0 0 0 1.207 1.21h.604a.603.603 0 0 1 0 1.209h-2.09a1.206 1.206 0 0 0-1.207 1.209 1.21 1.21 0 0 0 1.207 1.21h2.09a3.024 3.024 0 0 0 2.678-1.684 3.035 3.035 0 0 0-.279-3.154c.4-.52.618-1.158.62-1.814z" fill="#5499C7"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <article class="card" data-card="organizationTheory">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Теория организации</span>
                    <div class="cLw-msg">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#D15D51"/><path d="m21.35 21.174 12.156 6.607a.728.728 0 0 0 .685 0l12.156-6.607a.628.628 0 0 0-.071-1.155L34.12 15.054a.714.714 0 0 0-.542 0L21.42 20.018a.627.627 0 0 0-.071 1.155z" fill="#EC7063"/><path d="m46.276 25.983-2.611-1.113-9.474 5.15a.728.728 0 0 1-.685 0l-9.474-5.15-2.61 1.113a.684.684 0 0 0 0 1.213l12.155 6.99a.657.657 0 0 0 .685 0l12.157-6.99a.686.686 0 0 0-.143-1.213z" fill="#EC7063"/><path d="m46.276 32.318-2.226-.97-9.859 5.364a.728.728 0 0 1-.685 0l-9.86-5.364-2.225.97a.699.699 0 0 0 0 1.241l12.157 7.134a.728.728 0 0 0 .684 0L46.42 33.56a.699.699 0 0 0-.143-1.241z" fill="#EC7063"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <article class="card" data-card="businessStatistics">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Бизнес статистика</span>
                    <div class="cLw-msg">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">    
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#A865C5"/><path d="M37.604 26.122h8.899a1.108 1.108 0 0 0 1.108-1.108 10.007 10.007 0 0 0-10.007-10.007 1.107 1.107 0 0 0-1.108 1.108v8.9a1.107 1.107 0 0 0 1.108 1.107z" fill="#AF7AC5"/><path d="M46.383 28.35H35.509a1.215 1.215 0 0 1-1.214-1.214V16.235a1.23 1.23 0 0 0-1.361-1.228A13.342 13.342 0 1 0 47.61 29.684a1.227 1.227 0 0 0-1.227-1.334z" fill="#AF7AC5"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <article class="card" data-card="crossCultural">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Кросскультурные процессы</span>
                    <div class="cLw-msg">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#DB8750"/><path d="M50 29a15 15 0 1 0-30.002 0A15 15 0 0 0 50 29zm-3.105-1.5H42.5a19.365 19.365 0 0 0-3.495-9.81 12 12 0 0 1 7.89 9.81zm-16.275 3h8.88a17.16 17.16 0 0 1-4.5 9.915 16.5 16.5 0 0 1-4.38-9.915zm0-3A17.1 17.1 0 0 1 35 17.6a16.785 16.785 0 0 1 4.5 9.9h-8.88zm.54-9.855a19.77 19.77 0 0 0-3.555 9.855h-4.5a12 12 0 0 1 8.055-9.855zM23.105 30.5h4.5a19.29 19.29 0 0 0 3.525 9.84 12 12 0 0 1-8.025-9.84zm15.825 9.825A19.71 19.71 0 0 0 42.5 30.5h4.425a12 12 0 0 1-7.995 9.825z" fill="#E59866"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <article class="card" data-card="humanResources">
        <div class="card-wrap">
            <div class="card-left">
                <div class="cL-wrap">
                    <span class="card-title">Управление челресурсами</span>
                    <div class="cLw-msg">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-mask">
            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="-14" width="76" height="76" rx="38" fill="#97AAB4"/><path d="M35.5 14C44.06 14 51 20.94 51 29.5 51 38.06 44.06 45 35.5 45 26.94 45 20 38.06 20 29.5 20 20.94 26.94 14 35.5 14zm0 3.1c-6.848 0-12.4 5.552-12.4 12.4 0 6.848 5.552 12.4 12.4 12.4 6.848 0 12.4-5.552 12.4-12.4 0-6.848-5.552-12.4-12.4-12.4zm7.75 13.95a7.75 7.75 0 0 1-15.5 0h15.5z" fill="#B0BEC5"/></svg>
            <div class="cM-wrap">
                <svg width="9" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.493 0a1.286 1.286 0 0 1 1.003.476l6.211 7.713a1.285 1.285 0 0 1 0 1.633l-6.43 7.714a1.288 1.288 0 0 1-1.98-1.646L6.046 9 .49 2.107A1.285 1.285 0 0 1 1.493 0z" fill="#333"/></svg>
                <form method="post">
                    <input type="text" placeholder="Задание">
                </form>
            </div>
        </div>
    </article>
</div>

script
    include ../script/card-fix.js