<div class="faseEmba">
    <svg width="160" height="160" fill="none"><path d="M97.067 30.267c-4.267 1.866-7.734 4.266-7.734 5.2 0 2.666 2.934 2.266 12.534-1.6l8.533-3.6 4.933 3.066c6.134 3.867 7.6 2.4 2.667-2.666-4.8-5.067-10.4-5.2-20.933-.4zM42.4 47.467c-4.133 2.133-5.333 6.933-1.333 5.066C46 50.4 53.6 50.4 59.333 52.667c6.667 2.4 12 2.266 12-.534 0-1.066-3.466-2.666-9.333-4.266-11.467-2.934-14.933-3.067-19.6-.4zM98.667 53.6c-3.334 3.6-3.734 14.933-.534 19.467C102.933 80 112 73.733 112 63.333c0-6.4-4-12.666-8-12.666-1.467 0-3.733 1.333-5.333 2.933zM49.333 61.333c-1.466 1.467-2.666 4.134-2.666 5.867 0 3.733 5.6 8.8 9.6 8.8 3.333 0 9.066-5.867 9.066-9.333 0-3.867-4.666-8-9.333-8-2.267 0-5.2 1.2-6.667 2.666zM47.2 94c-.533 1.067-.533 2.933 0 4 .667 1.733 5.467 2 32.667 2 28.133 0 32-.267 32.666-2.133 2-5.334-.8-5.867-33.466-5.867-26.4 0-31.2.267-31.867 2z" fill="#5094BF"/></svg>
</div>
<div class="textHealth">Кто же этот красивый человек?
</div>
<div class="forms">
    <div class="form1">
        <input type="text" placeholder="Имя" maxlength="10">
    </div>
    <div class="form2">
        <img class="prePhoto">
        <svg width="119" height="119" fill="none"><circle cx="59.5" cy="59.5" r="57.5" fill="#fff" stroke="#5094BF" stroke-width="3" stroke-dasharray="6 6"/><path d="M69 45H49a5 5 0 0 0-5 5v20a5 5 0 0 0 5 5h20a5 5 0 0 0 5-5V50a5 5 0 0 0-5-5zm-20 3.333h20A1.667 1.667 0 0 1 70.667 50v13.933l-5.334-4.55a4.617 4.617 0 0 0-5.866 0L47.333 69.5V50A1.666 1.666 0 0 1 49 48.333z" fill="#5094BF"/><path d="M52.333 56.667a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" fill="#5094BF"/></svg>
        <input type="file" onchange="userPhoto(event);">
    </div>
    <button class="step2">Летсгоу</button>
    <button class="step1">Поехали</button>
</div>