#public > div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 185px;
}

.card {
    display: grid;
    grid-template-areas: "a a";
    grid-template-columns: 70%;
    position: absolute;
    max-width: 505px;
    width: calc(100% - 20px);
    height: 185px;
    border-radius: 17px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease-in-out;
}

[data-card="economy"] {background: #ffc528;}
[data-card="managementTechnologies"] {background: #2ECC71;}
[data-card="psychology"] {background: #5499C7;}
[data-card="organizationTheory"] {background: #EC7063;}
[data-card="businessStatistics"] {background: #AF7AC5;}
[data-card="crossCultural"] {background: #E59866;}
[data-card="humanResources"] {background: #B0BEC5;}

.card-left,.cL-wrap {
    height: 100%;
}

.cL-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-top: 17px;
    margin-left: 17PX;
    width: 100%;
    font-size: 22px;
    font-weight: 580;
    color: #333;
    /*word-break: break-all;*/
}
.card-title,
.card-mask svg {
    transition: .3s ease-in-out;
}

.card-mask {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.cM-wrap {
    margin: 10px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50px;
    transition: .3s ease-in-out;
}
.cM-wrap svg {
    position: absolute;
    margin: 9px 14px;
    padding: 7px;
    fill: #333;
    background: white;
}

.cM-wrap input {
    pointer-events: none;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50px;
    padding: 20px;
    outline: none;
    font-size: 17px;
    color: white;
    background: #ffffff;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    transition: .3s ease-in-out;
}

.cM-wrap input::placeholder {
    color: #ffffff;
}

.inputCalendar {
    position: absolute;
    margin: -58px calc(100% - 63px) !important;
    width: 1px !important;
    background: none !important;
    z-index: -99;
}

.svgCalendar {
    pointer-events: none;
    position: absolute!important;
    margin: -47px calc(100% - 55px) !important;
    opacity: 0!important;
    background: 0 0!important;
}

.containerMsg {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    margin-top: 10px;
    height: calc(100% - 70px);
    padding-right: 40px;
    background: #fffefe00;
    z-index: -99;
    opacity: 0;
    overflow-y: scroll;
    transition: .2s ease-in-out;
    z-index: -9999 !important;
}

.containerMsg > div {
    margin-left: 20px;
    margin-bottom: 13px;
    max-width: 350px;
    padding: 9px;
    border-radius: 10px;
    word-wrap: break-word;
    color: #333333;
    fill: #333333;
    background: #fff;
}

.lineMsg {
    margin-top: 6px;
    width: 100%;
    height: 1px;
    background: #dfdfdf;
}

.dateToMsg {display: flex;margin-top:7px;}
.dateToMsg > svg {fill: #333333;opacity:1!important;;}

.card.active {
    grid-template-columns: 0%;
    top: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.card.active .card-mask {
    animation: noas forwards;
    animation-duration: .9s;
    animation-delay: 0;
}
@keyframes noas {
    100% {
        align-items: flex-start;
    }
}
.card.active .card-mask svg {opacity: 0;}
.card.active .card-title {opacity: 0;}

.card.active .cM-wrap {
    margin: 0px;
    width: 100%;
}

.card.active .cM-wrap input {
    pointer-events: visible;
    margin-top: -8px;
    width: calc(100% - 48px);
    padding: 24px;
    border-radius: 0px;
}

.card.active .cM-wrap {
    background: #ffffff00;
}

.card.active .containerMsg {
    align-items: flex-start;
    width: 100%;
    opacity: 1;
    z-index: 0 !important;
    transition-delay: .5s;
}

.card.active .svgCalendar {
    opacity: 1 !important;
}

.card.active .inputCalendar {
    z-index: 99;
}