#public > div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 98px;
}

p {
    display: none;
}

.card {
    display: grid;
    grid-template-areas: "a a";
    grid-template-columns: 70%;
    position: absolute;
    max-width: 505px;
    width: calc(100% - 20px);
    height: 100px;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-radius: 17px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease-in-out;
}

[data-card="managementTechnologies"] {background: #2ECC71; top: 78px;}
[data-card="economy"] {background: #FECD48; top: 185px;}
[data-card="psychology"] {background: #70B3E0; top: 292px;}
[data-card="organizationTheory"] {background: #FA8175; top: 399px;}
[data-card="businessStatistics"] {background: #B081FE; top: 506px;}
[data-card="contractSystems"] {background: #E4BEC2; top: 613px;}
[data-card="crossCultural"] {background: #E3A177; top: 720px;}
[data-card="humanResources"] {background: #aabdc7; border-radius: 17px !important; top: 827px;}

.card-left,.cL-wrap {
    height: 100%;
}

.cL-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-top: 17px;
    margin-left: 17PX;
    width: 100%;
    font-size: 19.5px;
    font-weight: 580;
    color: #000000;
}
.card-title,
.card-mask svg {
    transition: .1s ease-in-out;
}

.card-mask {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    transition: .2s ease-in-out;
}

.cM-wrap {
    margin: 10px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50px;
    opacity: 0;
    transition: .3s ease-in-out;
}
.cM-wrap svg {
    position: absolute;
    margin: 9px 14px;
    padding: 7px;
    fill: #333;
    background: white;
}

.cM-wrap input {
    pointer-events: none;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50px;
    padding: 20px;
    outline: none;
    font-size: 17px;
    color: #111111;
    background: #ffffff;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    transition: .3s ease-in-out;
}

.cM-wrap input::placeholder {
    color: #111111;
}

.inputCalendar {
    position: absolute;
    margin: -58px calc(100% - 63px) !important;
    width: 1px !important;
    background: none !important;
    z-index: -99;
    cursor: pointer;
}

.menuChat {
    pointer-events: none;
    position: absolute!important;
    margin: -49px calc(100% - 55px) !important;
    opacity: 0;
    transition: .2s ease-in-out;
}

.svgCalendar {
    pointer-events: none;
    position: absolute!important;
    margin: -47px calc(100% - 55px) !important;
    opacity: 0!important;
    background: 0 0!important;
}

.containerMsg {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    margin-top: 10px;
    height: calc(100% - 70px);
    background: #fffefe00;
    z-index: -99;
    opacity: 0;
    overflow-y: scroll;
    transition: .2s ease-in-out;
    z-index: -9999 !important;
    cursor: default;
}

.containerMsg > div {
    margin-left: 20px;
    margin-bottom: 32px;
    max-width: 350px;
    margin-right: 80px;
    padding: 6px;
    border-radius: 7px;
    word-wrap: break-word;
    color: #333;
    fill: #333;
    background: #fff;
    transition: .2s ease-in-out;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.cloneImg {
    position: absolute!important;
    width: 100%!important;
    border-radius: 0!important;
    box-shadow: 0 0 34px 920px rgb(0 0 0 / 88%);
    transition: .2s ease-in-out;
    animation-name: cloneImg;
    animation-duration: .7s;
    animation-delay: 0s;
}

@keyframes cloneImg {
    0%   { transform: scale(1,1)  translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0);}
}

.lineMsg {
    margin-top: 6px;
    width: 100%;
    height: 1px;
    background: #dfdfdf;
}

.dateToMsg {display: flex;margin-top:7px;user-select: none;}
.dateToMsg > svg {fill: #333333;opacity:1!important;;}

.userName {
    position: absolute;
    margin-top: 28px;
    left: 26px;
    font-size: 13px;
}

.card.active {
    grid-template-columns: 0%;
    top: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    cursor: default;
}

.card.active .card-mask {
    animation: mask forwards;
    animation-duration: .9s;
    animation-delay: 0;
}
@keyframes mask {
    100% {
        align-items: flex-start;
    }
}
.card.active .card-mask svg {opacity: 0;}
.card.active .card-title {opacity: 0;}

.photoChat {
    margin-bottom: 10px;
    max-width: 100%;
    width: 350px;
    max-height: 350px;
    border-radius: 6px;
}

.baseimg {
    content-visibility: hidden;
}

.card.active .menuChat {
    pointer-events: all;
    opacity: 1 !important;
    cursor: pointer;
}

.card.active .cM-wrap {
    margin: 0px;
    width: 100%;
    opacity: 1;
}

.card.active .cM-wrap input {
    pointer-events: visible;
    margin-top: -8px;
    width: calc(100% - 48px);
    padding: 24px;
    border-radius: 0;
}

.card.active .cM-wrap {
    background: #ffffff00;
}

.card.active .containerMsg {
    align-items: flex-start;
    opacity: 1;
    z-index: 0 !important;
    transition-delay: .5s;
}

.card.active .svgCalendar {
    opacity: 1 !important;
}

img .imgFly {
    display: block;
    position: absolute;
    margin: auto;
    top: 30%;
    bottom: 30%;
    width: 100%;
    padding-top: 100%;
    padding-bottom: 100%;
    object-fit: contain;
    background: black;
    z-index: 99999;
}