header {
    display: grid;
    align-items: center;
    max-width: 505px;
    width: 100%;
    height: 55px;
    background: #ffffff;
    z-index: 9;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 23px;
}

header div img {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 505px) {
    header div {
        padding-left: 16px;
        padding-right: 16px;
    }
}